/* CSS do arquivo Nav.jsx */

body{
    height: 100vh;
    @import url('https://fonts.googleapis.com/css2?family=Oswald&family=Teko:wght@300;400;600&display=swap');
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    margin: 0;
    background-color: #0F0F0F;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Estiliza todo o menu*/
nav.menuLateral{
    width: 60px;
    height: 100%;
    background-color: rgb(41, 5, 27);
    padding: 40px 0 0px 0;
    box-shadow: 5px 0 0 rgb(255, 0, 157);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}

/*Faz com que o botão de hambúrguer ocupe 100% da lateral do menu*/
.botaoDeHamburguer{
    width: 100%;
}

/*Estiliza o botão de hambúrguer*/
.botaoDeHamburguer > i{
    color: aliceblue;
    font-size: 34px;
    cursor: pointer;
}

/* Diz que quando a classe dos botões do menu forem "expandir, eles
terão seu tamanho aumentado para 300px"*/
nav.menuLateral.expandir{
    width: 300px;
}

ul{
    height: 100%;
    list-style-type: none ;
}

/*Quando os itens do menu não estiverem selecionados (ou com a classe
"ativo), eles vão ficar levemente transparentes"*/
ul li.ItemMenu{
    transition: .5s;
    opacity: 0.6;
}

/*Estiliza o botão no geral quando sua classe for "ativo"*/
ul li.ativo{
    opacity: 1;
    background-color: rgb(255, 0, 157);
    transition: .8s;
}


/*Diz que ao passar o ponteiro do mouse em cima, a opacidade vai 
aumentar, ou seja, vai ficar mais visível os botões do menu*/
ul li.ItemMenu:hover{
    opacity: 1;
}

/*Estiliza as letras dos botões no menu*/
ul li.ItemMenu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 20px ;
    display: flex;
    line-height: 40px;
}

/* controla a distância letras entre os botões do menu e as letras */
ul li.ItemMenu a .link{
    margin-left: 30px;
    transition: .8s;
    opacity: 0;
}

ul li.ItemMenu a .icone > i{
    font-size: 30px;
    margin-left: -10px;
}

/*Sempre que a Nav menuLateral tiver a classe "expandir", algo acontecerá com o "link"*/
nav.menuLateral.expandir .link{
    margin-left: 70px;
    opacity: 1;
}






/* Aqui começa o CSS do arquivo ListaDeVideos.jsx */









.conteinerDeCards{
    height: 100%;
    margin-left: 3%;
    padding: 1% 0 100% 0;
}

div.conteinerDeCards h1{
    color: aliceblue;
    padding: 40px;
    margin: 100px;
    font-size: 60px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

div.card{
    
    width: 400px;
    height: 300px;
    border: 2px;
    border-radius: 13px;
    margin: 50px 30px 0 0;
    overflow: hidden;
    display: block;
}

img{
   width: 100%;
   height: 200px;
   object-fit: cover;
   border-radius: 13px;
}

h3{
    color: aliceblue;
    text-align: center;
}

p{
    color: aliceblue;
    padding-left: 7%;
    font-weight: lighter;
}

i{
    margin-left: 5px;
}

.nomeLogo{
    color: aliceblue;
    text-align: center;
    font-size: 70px;
    margin-top: 30px;
}